h1, h2, h3, h4, h5, p, sub {
    font-family: SpaceGrotesk;
    padding: 0;
    margin: 0;
    transition: color 0.2s ease-in-out;
}
sub {
    font-weight: bold;
    color: #EF815E
}
html, body {
    padding: 0;
    margin: 0;
}
div {
    transition: background-color 0.2s ease-in-out;
}
#mode-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}