@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "SpaceGrotesk";
    src: url("/assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
}